@model Boardgames_webproject.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    
        
        <fieldset id ="Change-Password-Form">
            <legend><h2>Set Password Form</h2></legend>
            <table id ="Password-Table">
                <caption><h3>Change password</h3></caption>
                <tr>
                    <td><span class ="Password-Label">@Html.LabelFor(m => m.OldPassword)</span></td>
                    
                    <td><span class ="Passwormd-Field">@Html.PasswordFor(m => m.OldPassword)</span></td>
                </tr>

                <tr>
                    <td><span class ="Password-Label">@Html.LabelFor(m => m.NewPassword)</span></td>
                    <td><span class ="Password-Field">@Html.PasswordFor(m => m.NewPassword)</span></td>
                </tr>

                <tr>
                    <td><span class ="Password-Label">@Html.LabelFor(m => m.ConfirmPassword)</span></td>
                    <td><span class ="Password-Field">@Html.PasswordFor(m => m.ConfirmPassword)</span></td>
                </tr>
                <tr id ="Submit-Password-tr">
                    <td></td>
                    <td ><input type="submit" value="Change password" /></td>
                </tr>
            </table>
        
        </fieldset>

}
