@model Boardgames_webproject.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


        <fieldset id ="Change-Password-Form">
            <legend><h2>Set Password Form</h2></legend>
            <table>
                <tr >
                    <td><span class ="Password-Label">@Html.LabelFor(m => m.NewPassword)</span></td>
                    <td><span class ="Passwormd-Field">@Html.PasswordFor(m => m.NewPassword)</span></td>
                </tr>
                <tr>
                    <td><span class ="Password-Label">@Html.LabelFor(m => m.ConfirmPassword)</span></td>
                    <td><span class ="Passwormd-Field">@Html.PasswordFor(m => m.ConfirmPassword)</span></td>
                </tr>
            </table>
            <input type="submit" value="Set password" />
        </fieldset>

}
